<html>
  <head>
    <title>The Gossip Project</title>
  </head>
  <body>
    <h1>Mon super site de gossip, du dossier views !</h1>

    <p>Bienvenue à toi, de nouveaus Gossips arrivent bientôt, en attendant tu peux créer un nouveau Gossip en cliquant sur le lien ci-dessous:</p>
    <a href="/gossips/new/">Nouveau Gossip</a>
  </body>
</html>